* {
  margin: 0;
}


video {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}


td {
  border: 2px solid #e4d8d8;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: 'Belanosima', sans-serif;
  font-size: 100px;
  cursor: pointer;
  color: white;
}

table {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: rgba(191, 170, 170, 0.131); */
  /* border: 3px solid rgb(237, 226, 226); */
  /* z-index: 654645; */
  /* height: 400px;
      width: 400px; */
  border-collapse: collapse;
  position: absolute;
  left: 30%;
  /* right: 50%; */
  margin-top: -50%;
  /* margin-left: -155px; */
  /* top: 50%; */
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.endgame {
  display: none;
  top: 120px; 
  right:0%;
  position: absolute;
  
}

.selectSym {
  backdrop-filter: blur(7px);
  background-color: rgba(191, 170, 170, 0.131); 
  /* background-color: rgba(60, 182, 32, 0.222); green*/
  /* background-color: rgba(38, 0, 255, 0.141); */
  display: none;
  width: 700px;
  top: 200px;
  /* background-color: rgba(205, 133, 63, 0.8); */
  position: absolute;
  left: 30%;
  margin-left: -110px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.selectSym button {
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: 'Belanosima', sans-serif;
  font-size: 50px;
  width: 70px;
  background: white;
  border: 1px solid rgb(15, 14, 14);
  color:black;
  cursor: pointer;
  
}

.selectSym button:first-of-type {
  margin-right: 10px;
}

.selectSym button:last-of-type {
  margin-left: 10px;
}

.replayb {
  backdrop-filter: blur(7px);
  /* background-color: rgba(191, 170, 170, 0.131);  */
  background-color: #90898942;
  position: absolute;
  top: 10%;
  left: 100px;
  border-radius: 1.5rem;
  border: 0.5px solid white;
  /* background: none; */
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
 cursor: pointer;
 font-family: 'Belanosima', sans-serif;
 font-size: larger;
}
.replayb:hover{
  /* background-color: white; */
  backdrop-filter: blur(7px);

  background-color: #90898971;
  /* color: black; */
}

#spn{
  height: 20px;
  /* border: 2px solid red; */
}

.alert{
  display: none ;
  position: absolute;
  margin-top: -250px;
  backdrop-filter: blur(2px);
  background-color: #90898971;
  padding: 10px;
  font-family: 'Belanosima', sans-serif;
  border-radius: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  border:1px solid black;
  color: white;
  font-size: large;
  animation: move 2s forwards;
}

@keyframes move {
  from {left: -30%;}
  to {left: 5%;}
}


.alert>button{
  background-color: rgba(199, 21, 21, 0.72);
  cursor: pointer;
  border: none;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}